
.github/        export-ignore
debian/**/*     export-ignore
icons/**/*      export-ignore
images/**/*     export-ignore
notes/**/*      export-ignore
scripts/**/*    export-ignore
tests/**/*      export-ignore

