
.gitattributes  export-ignore
.gitignore      export-ignore

debian/         export-ignore
icons/          export-ignore
images/         export-ignore
notes/          export-ignore
scripts/        export-ignore
tests/          export-ignore

notes/Theme_dark.png   export-ignore
notes/Theme_light.png  export-ignore
