[Desktop Entry]
Version=1.0
Type=Application
Name=seer
GenericName=GDB Frontend
Comment=A GUI frontend to the GDB debugger
Icon=io.github.epasveer.seer.64x64.png
Exec=seergdb
Terminal=false
Categories=Development;Debugger;Qt;
Keywords=debug;gdb;debugger;qt;
StartupNotify=true
X-Flatpak=io.github.epasveer.seer
