Source: seergdb
Section: devel
Priority: optional
Maintainer: Ernie Pasveer <epasveer@att.net>
Build-Depends: debhelper (>= 10.0.0),
  dh-exec,
  cmake,
  qtbase5-dev,
  libqt5charts5-dev
Standards-Version: 4.1.3
Homepage: https://github.com/epasveer/seer

Package: seergdb
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: gdb
Description: A GUI frontend to gdb.
